#side-bar-container {
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #040404;
  padding: 20px;
  min-width: 240px;
  z-index: 999;
}
#side-bar-logo {
  width: 130px;
  height: auto;
}
.side-bar-icons {
  font-size: 24px;
  color: #b3b3b3;
  margin-right: 20px;
}
.side-bar-menue {
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}
.side-bar-menue:hover * {
  color: #ffffff;
}
.side-bar-menue-active {
  width: 110%;
  padding-left: 10px;
  margin-left: -12px;
  height: 45px;
  background-color: #282828;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.side-bar-menue-active * {
  color: #ffffff;
}
.create-new-playlist-icon,
.liked-song-icon {
  width: 30px;
  height: 30px;
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.create-new-playlist-icon span {
  font-size: 30px;
}
#user-created-palylists-container {
  margin-top: 20px;
}
#user-created-palylists-container p {
  margin-top: 5px;
}
#user-created-palylists-container p:hover {
  color: #ffffff;
}
.straight-line {
  background-color: #191414;
  width: 100%;
  height: 2px;
  margin-top: 12px;
}
