.button-green {
  background-color: #1db954;
  color: #ffffff;
  border-radius: 32px;
  border: none;
}
body {
  background-color: #121212;
}
.button-green:hover {
  background-color: #1ed760;
  cursor: pointer;
}
.silvery-text {
  color: #b3b3b3;
}
.white-text {
  color: #ffffff;
}
.rounded-paly-button {
  width: 55px;
  height: 55px;
  background-color: #1db954;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.rounded-paly-button i {
  color: #ffffff;
}
.section-hading {
  color: #ffffff;
  margin-left: 20px;
  margin-bottom: 25px;
  font-size: 2rem;
}
.close:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.close:before,
.close:after {
  display: inline-block;
  content: " ";
  height: 45px;
  width: 2px;
  background-color: #b3b3b3;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
#main-content {
  background-color: #121212;
  width: 100%;
  height: 100vh;
  padding-bottom: 120px;
  padding-left: 240px;
  overflow-y: auto;
  padding-top: 60px;
}
